@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins';
}


html, body {
    height: 100%;
    margin: 0;
	background: #fff;
}


.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
    color: #FFF1DB;
}

.navbar-brand {
    font-size: 22px;
	text-transform: uppercase;
	font-weight: 800;
    color:  #FFF1DB;
}
.navbar {
    margin-bottom: 40px;
    background-color: #E88D67;
    position: relative;
}

.navbar-toggler {
    position: absolute;
    top: 0;
    right: 0;
}

.carousel-container {
    max-width: 600px; 
    margin: 20px auto; 

}
.carousel-inner img {
    width: 100%;
    height: 400px; 
    object-fit: cover; 
}

.carousel-title{
    text-align: center;
    margin-top: 20px;
}

h2{
    font-weight: 700;
    text-transform: uppercase;
    color: #E88D67;
}

.h2-formulario{
    font-weight: 700;
    text-transform: uppercase;
    color: #E88D67;
    text-align: center;
}

.home-card{
    padding: 20px;
    color: #000;
    background-color: #ffffff;
    border-color: #fff;
    font-weight: 500;
    
}

.profile-card{
    border-radius: 15px; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

.card-img-top {
    height: 200px; /* Altura fija para las imágenes */
    object-fit: cover; /* Ajusta la imagen para cubrir el área del contenedor */
}


.footer {
    background-color: #f7f7f7; 
    padding: 10px; 
    text-align: center;
    border-top: 1px solid #cfcfcf;
}

.content {
    flex: 1; /* Permite que el contenido principal ocupe el espacio restante */
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
}

form {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="date"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #E88D67;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #f87e4a;
}
textarea{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    min-width: 100%;
    min-height: 100px;
    max-height: 200px;
    border-radius: 5px;
}
