@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins';
}


html, body {
    height: 100%;
    margin: 0;
	background: #fff;
}



.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
    color: #FFF1DB;
}

.navbar-brand {
    font-size: 22px;
	text-transform: uppercase;
	font-weight: 800;
    color:  #FFF1DB;
}
.navbar {
    margin-bottom: 40px;
    background-color: #E88D67;
    position: relative;
}

.navbar-toggler {
    position: absolute;
    top: 0;
    right: 0;
}

.carousel-container {
    max-width: 600px; 
    margin: 20px auto; 

}
.carousel-inner img {
    width: 100%;
    height: 400px; 
    object-fit: cover; 
}

.carousel-title{
    text-align: center;
    margin-top: 20px;
}

h2{
    font-weight: 700;
    text-transform: uppercase;
    color: #E88D67;
}

.card{
    padding: 20px;
    color: #000;
    background-color: #ffffff;
    border-color: #fff;
    font-weight: 500;
    
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    background-color: #f8f9fa; 
    padding: 20px; 
    text-align: center;
    border-top: 1px solid #dee2e6;
}

.content {
    flex: 1; /* Permite que el contenido principal ocupe el espacio restante */
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
}